@import "../../styles/colors";

.loginContainer {
    width: 26rem;
    margin: 0 auto;
    margin-top: 5rem;

    .welcome,
    .prompt,
    .signUpLink {
        text-align: center;
    }

    .welcome {
        margin-bottom: 0;
        font-size: 2rem;
    }

    .prompt {
        margin-top: 0.7rem;
    }

    .loginForm {
        display: flex;
        flex-direction: column;

        .inputContainer {
            margin-top: 1.5rem;

            .inputBox {
                width: 100%;
                padding: 0.7rem;
                border: 1px solid #ccc;
                border-radius: 3px;

                &:focus {
                    outline: none;
                    border: 1px solid $glaucous;
                }
            }

            .inputError {
                border: 1px solid $error-red;
            }

            .error {
                padding-top: 0.5rem;
                margin: 0;
                color: $error-red;
            }
        }

        .submitButton {
            border: none;
            border-radius: 3px;
            background-color: $cornflower-blue;
            margin-top: 1.5rem;
            padding: 0.7rem;
            color: #fff;
            cursor: pointer;
            font-weight: 500;
        }
    }

    .signUpLink {
        margin-top: 1.5rem;

        a {
            text-decoration: none;
            color: $link-blue;
        }
    }
}
